.author_main {
  padding: 1rem;
  text-align: center;
}

.author_avatar {
  text-align: center;
}

.author_info {
  margin-top: 1.6rem;
  font-size: 1rem;
  text-align: left;
}

.author_info > p {
  margin-bottom: 0.1rem;
}

.social_links {
  margin-top: 1.1rem;
}

.social_links > span {
  overflow: hidden;
  margin: 0 0.5rem;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
}

@media screen and (max-width: 1625px) {
  .author_info {
    margin-top: 1.3rem;
    font-size: 0.9rem;
  }

  .social_links {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 1370px) {
  .author_info {
    margin-top: 0.5rem;
    font-size: 0.9rem;
  }

  .social_links {
    margin-top: 0.1rem;
  }
}

@media screen and (max-width: 1150px) {
  .social_links {
    display: none;
  }
}
